*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background-color:#212529;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}


main {
    width: 95%;
}

.link:hover {
    border-bottom:none;
    background: none;
}

header {
    position: sticky;
    top: 0px;
    text-align:justify;
    background-image: url("../img/wide.jpg");
    background-size:cover;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    display: flex;
    flex-wrap: nowrap;
}

nav {
    text-align: right;
    width: 100%;
    background-color: transparent;
    display: inline-block;
    flex: wrap;
}

h1 {
    font-size: 50px;
    text-align:start;
    font-family: 'Roboto', sans-serif;
    color: #ffc107;
}

h2 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

h3 {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #ffc107;
}

iframe {
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    background-color:transparent;
    justify-content: space-evenly;
    align-items: center;
}

li {
    display:inline-block;
    width: 15%;
    font-family: 'Roboto', sans-serif;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
a:link {
    color:wheat;
  }
  
a:visited {
    color:wheat;
  }
  
a:focus {
    border-bottom: 1px solid;
    background: #BAE498;
  }
  
a:hover {
    border-bottom: 1px solid;
    background: #CDFEAA;
  }
  
a:active {
    background: rgb(115, 122, 13)d;
    color: #CDFEAA;
  }

*{
    box-sizing: border-box;
}

.imgGym {
    width: 40%;
    height: 400px;
}  

.parrafos {
    text-align: justify;
    color:wheat;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    align-items: center;
}

hr {
    color:#ffc107
}

.contacto {
    text-align: center;
    color: #ffc107;
    font-family: 'Roboto', sans-serif;
}

.redes {
    position: fixed;
    bottom: 30px;
    right: 30px;
  }

.footer {
    color:#ffc107;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

.imgredes {
    height: 40px;
    width: 40px;
}

.maps-1 {
    display: inline-block;
    height: 100px;
    width: 40%;
}

.maps-2 {
    display: inline-block;
    height: 100px;
    width: 40%;
}


/*Actividades*/


.imgActividades {
    width: 100%;
    display: flex;
    flex: wrap;
}

/*Contacto*/


.mb-3 {
    color: #ffc107;
}

#formulario {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: left;
  }
  
.fieldset {
    color: #ffc107;
    height: 600px;
    width: 700px;
  }

/*Pases*/

#parrafoPases {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: wheat;
    text-align: justify;
  }
  
.listaPases {
    list-style: none;
      background-color: transparent;
      height: 80px;
}

.pases li {
    color:wheat;
    font-size: medium;
  }
  
.promos li {
    color: wheat;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
  }

ol {
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
} 
  
/*Rutinas*/

select {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: darkred;
  }
  
.parrafoRutina {
    font-size:larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#212529;
    text-align: justify;
}

/*Sedes*/

.info {
    color:#ffc107;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    text-decoration:double;
  }
